<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>informate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="danger">
    <h1> <center>¿Cómo comenzar una vida saludable?</center></h1>
  </ion-text>
  <ion-text color="dark">
    <h5>No solamente consiste en comer más vegetales y hacer actividad física,
       hay consejos sencillos que te ayudarán cotidianamente a alimentarte mejor. 
       La Dra. Tamara Cudi, Jefa del Servicio de Nutrición de Grupo Gamma, nos brinda 15 
       recomendaciones para modificar tu alimentación.</h5>
  </ion-text>
  <div><img src="../../assets/imagenes/radar.png" ></div>

  <ion-text color="secondary">
    <h3>1- Visita un profesional de la salud </h3>
  </ion-text>

  <ion-text color="dark">
    <h5>para un chequeo general, 
      descartar enfermedades que puedan llevarte a un aumento de peso y además 
      que diseñe un plan de alimentación de acuerdo a tus gustos y objetivos.</h5>
  </ion-text>
  <div><img src="../../assets/imagenes/pct.png" ></div>

</ion-content>