<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>alimentate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="danger">
    <h1> <center>Cómo alimentarnos según nuestra edad</center></h1>
  </ion-text>
  <ion-text color="danger">
    <h3>Adolescencia: 12 a 18 años</h3>
  </ion-text>

  <ion-text color="dark">
    <h5>Las necesidades nutritivas en la adolescencia vienen marcadas 
      por los procesos de maduración sexual, aumento de talla y aumento de peso. 
      Estos procesos requieren una cantidad elevada de energía y de ciertos nutrientes; 
      hay que tener en cuenta que el adolescente gana aproximadamente 
      el 20% de la talla y el 50% del peso que va a tener como adulto. 
      Estos incrementos se corresponden principalmente con el aumento de masa muscular y de masa ósea. 
      Toda esta situación se ve directamente afectada por la alimentación que debe estar dirigida y
       diseñada para cubrir el gasto que se origina.</h5>
  </ion-text>
  <div><img src="../../assets/imagenes/frutas.jpg" ></div>

</ion-content>
